@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff') format("woff"),
        url('../fonts/Roboto-Regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff') format("woff"),
        url('../fonts/Poppins-Regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Regular.woff') format("woff"),
        url('../fonts/Manrope-Regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Medium.woff') format("woff"),
        url('../fonts/Manrope-Medium.woff2') format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url("../fonts/Manrope-Bold.woff") format("woff"),
        url('../fonts/Manrope-Bold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}