// @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Poppins&family=Roboto&display=swap');
@import './base/fonts';
@import './utils/variables';
@import './utils/mixin';
@import './base/base';

@import './components/header';
@import './components/footer';
@import './components/calendar';
@import './components/card_gallery';
@import './components/categories';
@import './components/weather_block';
@import './components/pagination';
@import './components/mobile-menu';
@import './components/switch-theme';
@import './components/accordion';
@import './components/read';
@import './components/loader';
@import './components/not-found-page';
@import './components/pagination'
