// container width
$mobile:480px;
$tablet:768px;
$desktop:1280px;

//color
$card-blue-color: #4440F7;
$blue-color: #4440F6;
$black-color: #111321;
$grey-color: #A8A8A8;
$white-color: #ffff;
$green-color:#00DD73;
$dark-bcg-color:#2E2E2E;


//font
$main-font:"Manrope";
$sec-font:"Poppins";
$weather-font:"Roboto";
