<section class="filter-container container">
  <div class="categories">
    <ul class="categories__btn-list"></ul>
    <div class="menu">
      <button class="categories__btn-menu invisible">
        <span class="categories__btn-text "></span>
        <svg class="categories__icon-up invisible" width="14" height="14">
          <use href="./images/icons.svg#arrowUp"></use>
        </svg>
        <svg class="categories__icon-down" width="14" height="14">
          <use href="./images/icons.svg#arrowDown"></use>
        </svg>
      </button>

      <div class="categories__menu invisible">
        <ul class="categories__list"></ul>
      </div>
    </div>
  </div>

  <span class="filter-text">Search date news</span>

  <div id="calendar-section" class="calendar">
    <svg
      id="calendar_input_icon"
      class="calendar__icon"
      width="20px"
      height="20px"
      aria-label="menu"
    >
      <use class="calendar__menu" href="./images/icons.svg#calendar"></use>
    </svg>

    <input id="calendar" aria-expanded="false" class="calendar__input" />
    <svg
      id="calendar_down_arrow"
      class="calendar__arrow"
      width="9px"
      height="15px"
      aria-label="menu"
    >
      <use class="calendar__Down" href="./images/icons.svg#arrowDown"></use>
    </svg>
    <!-- <svg
      id="calendar_up_arrow"
      class="calendar__arrow hidden"
      width="9px"
      height="15px"
      aria-label="menu"
    >
      <use class="calendar__Up" href="./images/icons.svg#arrowUp"></use>
    </svg> -->
  </div>
</section>
