<div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle js-close-menu">
        <svg width="24" height="24" class="cross__icon">
            <use href="./images/icons.svg#cross"></use>
        </svg>
    </button>
    <a href="/src/index.html" class="logo__link logo__link-menu">News</a>
    <ul class="mobile-menu-list">
        <li class="mobile-list__item menu-current__item js-home"><span class="menu-link" data-value="Home"><svg width="32" height="32"
                    class="mobile-menu-icon">
                    <use href="./images/icons.svg#home"></use>
                </svg>Home<svg width="24" height="24" class="mobile-arrow-icon">
                    <use href="./images/icons.svg#arrowRight"></use>
                </svg></span></li>
        <li class="mobile-list__item js-favorite"><span class="menu-link" data-value="Favorite"><svg width="32" height="32" class="mobile-menu-icon">
                    <use href="./images/icons.svg#favorite"></use>
                </svg>Favorite<svg width="22" height="22" class="mobile-arrow-icon">
                    <use href="./images/icons.svg#arrowRight"></use>
                </svg></span></li>
        <li class="mobile-list__item js-read"><span class="menu-link" data-value="Read"><svg width="32" height="32" class="mobile-menu-icon">
                    <use href="./images/icons.svg#read"></use>
                </svg>Read<svg width="24" height="24" class="mobile-arrow-icon">
                    <use href="./images/icons.svg#arrowRight"></use>
                </svg></span></li>
    </ul>
    <div class="toggle-switch toggle-switch__menu">
        <svg width="21" height="21" class="switch-icon light">
            <use href="./images/icons.svg#sun"></use>
        </svg>
        <span>
            <label class="switch">
                <input id="theme-switch" type="checkbox" class="input-switch" />
                <span class="slider round"></span>
            </label>
        </span>
        <svg width="21" height="21" class="switch-icon dark">
            <use href="./images/icons.svg#moon"></use>
        </svg>
    </div>
</div>
