<div class="container not-found hidden">
    <h2 class="not-found__header">We haven’t found news from<br> this category</h2>
    <picture>
      <source
      media="(min-width: 1280px)"
      srcset="./images/Desk_NotFound/image_1.png 1x,
      ./images/Desk_NotFound/image_1@2x.png 2x"
    />
    <source
    media="(min-width: 768px)"
    srcset="./images/Tablet_NotFound/image_2.png 1x,
     ./images/Tablet_NotFound/image_2@2x.png 2x"
    />
      <source
        media="(max-width: 767px)"
        srcset="./images/Mob_NotFound/image_3.png 1x,
          ./images/Mob_NotFound/image_3@2x.png 2x"
      />
      <img src="./images/Desk_NotFound/image_1.png" alt="Not Found Picture" class="not-found__image"/>
    </picture>
</div>
