.card {
  padding: 40px 0;
}

.card__title {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.card__list {
  margin-bottom: 28px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 30px;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    gap: 40px 32px;
    margin-bottom: 0;
  }
}

.card__item {
  width: 100%;
  height: 630px;

  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 28px;

  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0;
    height: 675px;
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 64px) / 3);
    height: 676px;
  }
  &__weather {
    height: 100%;
    width: 100%;
    @media screen and (min-width: $tablet) {
      height: 675px;
      width: calc((100% - 30px) / 2);
      
    }
    @media screen and (min-width: $desktop) {
      height: 676px;
    width: calc((100% - 64px) / 3)    
    
  }
}
}

.thumb {
  position: relative;
  width: 100%;
  height: 395px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 20px;
}

.thumb__item {
  position: absolute;
  top: 40;
  display: inline-block;
  padding: 4px 8px;
  text-align: center;
  vertical-align: text-bottom;
  background: rgba(68, 64, 247, 0.7);
  border-radius: 0px 4px 4px 0px;

  @include font(500, 12px, 1.33);
  color: var(--white-color);
}

.info__title {
  @include font(700, 24px, 1.37);
  overflow-y: hidden;
  letter-spacing: -0.01em;
  color: var(--text-main-color);
  margin-bottom: 20px;
  height: 99px;

  @media screen and (min-width: $tablet) {
    @include font(700, 32px, 1.37);
    height: 132px;
  }
}

.info__text {
  @include font(400, 14px, 1.37);
  color: var(--text-main-color);
  margin-bottom: 20px;
  height: 57px;

  @media screen and (min-width: $tablet) {
    @include font(400, 16px, 1.37);
    height: 66px;
  }
}

.info__meta {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}


.info__date {
  @include font(400, 14px, 1.37);
  color: var(--grey-color);

  @media screen and (min-width: $tablet) {
    @include font(400, 16px, 1.37);
  }
}

.info__link {
  @include font(400, 14px, 1.37);
  color: #4440F7;

    @media screen and (min-width: $tablet) {
        @include font(400, 16px, 1.37);

    }
        @media screen and (min-width: $tablet) {
            margin-right: 26px;
        }
}

.favorite-btn {
  position: absolute;
  bottom: 12px;
  right: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: var(--white-color);
  border-radius: 20px;
  @include font(500, 12px, 16px);
  color: var(--black-color);
}
.add-favorite-icon {
  margin-left: 4px;
  fill: transparent;
  stroke: var(--blue-color);
}
.remove-favorite-icon {
  margin-left: 4px;
  fill: var(--favorite-color);
}
.add-favorite {
  display: flex;
  align-items: center;
  justify-content: center;
}
.remove-favorite {
  display: none;
}
.hidden-span .remove-favorite {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden-span .add-favorite {
  display: none;
}
.icon-span {
  padding: 6px 12px;
  width: 100%;
  height: 100%;
}
// ----------------------------------------
.wether {
  display: inline-block;
  width: 100%;
  height: 630px;
  background-color: plum;
  margin-bottom: 28px;
  flex: 1 0 0;
}
.card__content {
  display: inline;
  flex-direction: column;
}


