// @media screen and (min-width: $tablet) {
// }

// @media screen and (min-width: $desktop) {
// }

.categories {
  @media screen and (min-width: $tablet) {
    display: flex;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 21px;
    height: 31px;

    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #4b48db;
    border: 1px solid #4440f7;
    border-radius: 20px;

    @media screen and (min-width: $tablet) {
    }

    @media screen and (min-width: $desktop) {
    }
  }

  &__btn:hover {
    color: $white-color;
    background-color: $blue-color;
  }

  &__icon {
    fill: #4b48db;
  }

  &__icon:hover {
    fill: $white-color;
  }

  &__menu {
    padding: 14px;
    color: $blue-color;
    width: 380px;
    filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.1));
  }

  &___item {
    padding-top: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
  }
}

// .categories {
//     width: 130px;
//     height: 130px;
//     background-color: aquamarine;
// }
