.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  display: flex;
  
  flex-direction: column;
  position: fixed;
  padding-top: 125px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bcg-main-color);
  z-index: 2;

  transform: translateX(100%);
  
  scale: 0.6;
  opacity: 0.7;
  transition:   450ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
  scale:1;
  opacity: 1;

}

.menu-container .menu-toggle {
  position: absolute;
  top: 26px;
  right: 16px;
  color: var(--text-main-color);
}

.logo__link-menu {
  position: absolute;
  margin: 0;
  top: 25px;
  left: 16px;
}

.mobile-menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-link {
  display: flex;
  text-decoration: none;
  align-items: center;

  font-weight: 400;
  font-size: 16px;

  padding: 6px 16px; 
}

// CLASS FOR OTHERS//

.menu-current__item {

  background-color: #4440f6;
color: #fff;
 

  & .mobile-menu-icon {
    border: 1px solid #fff;
    border-radius: 50%;
  }
  & .mobile-arrow-icon {
    display: inline-block;
    fill: #fff;
  }
}

.current-list__item {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #4440f6;
  }
}

// UNDER //

.mobile-list__item {
  cursor:pointer;
}

.mobile-list__item:not(:last-child) {
  margin-bottom: 18px;
}

.mobile-menu-icon {
  fill: #4440f6;
  margin-right: 14px;
}

.mobile-arrow-icon {
  fill: var(--bcg-main-color);
  display: none;
  margin-left: auto;
}

.cross__icon {
  stroke: var(--text-main-color);
}
