.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  pointer-events: all;
  visibility: visible;

  &.hidden {    
    display:none;
  }
}

.not-found__header {
  text-align: center;
  font-size: 20px;
  line-height: calc(27 / 20);
  letter-spacing: -0.01em;

  @media screen and (min-width: $tablet) {
    font-size: 40px;
    line-height: calc(55 / 40);
    letter-spacing: -0.01em;
  }
}

.not-found__image {
  margin-top: 40px;
}
