.page-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    background-color: var(--main-color);
    box-shadow: 0 0 10px #d3d3d3;
    border-radius: 5px;
    padding: 10px 15px;
    opacity:0;

    &.show{
      opacity:1;
    }
    @media screen and (min-width: $tablet) {
     flex-direction: row;
    }
  }
  
  .page-container button {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  .page-container button:disabled i {
    color: #aaadc7;
  }
  
  #pagination {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    opacity:1;

  }
  #pagination li {
    list-style: none;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 3px;
  }
  .pg-item.active {
    background-color: var(--blue-color);
  }
  #pagination li.active a {
    color: #fff;
  }
  #pagination li a {
    padding: 4px 6px;
    color: var(--black-color);
    pointer-events: none;
    @media screen and (min-width: $tablet) {
      padding: 4px 12px;
     }
  }

.prev-page,
.next-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  @include font(500, 16px, 22px);
  color: var(--main-color);
  background: #f4f4f4;
  border: 1px solid var(--blue-color);
  border-radius: 2px;

  @media screen and (min-width: $tablet) {
    font-size: 12px;
   }
}

.pg-item {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: var(--black-color);
  background:var(--white-color);
  border: 1px solid var(--blue-color);
  border-radius: 2px;
  // text-decoration: none;

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 22px;
  }
}
.pg-item:hover,
.pg-item:focus,
.prev-page:hover,
.prev-page:focus,
.next-page:hover,
.next-page:focus {
  scale: 1.1;
}
.prev-page:disabled,
.next-page:disabled {
  opacity: 0.5;
}