

.weather__container {
  padding:40px 32px 32px 32px;
  color: #fff;
  background-color: var(--blue-color);
display: flex;
justify-content: space-between;
flex-direction: column; 
  border-radius: 4px;
  align-items: center;


  
    @media screen and (min-width: $tablet) {
      height: 675px;
      padding: 40px 32px 60px 32px;
    }
  
    @media screen and (min-width: $desktop) {
      height: 676px;
    }  
}

.weather__info {
  display: flex;
  align-items: center;
  gap: 11px;
  justify-content: center;



}

.weather__temp {
  font-family: $weather-font;
  font-size: 55px;
  line-height: calc(64 / 55);
  border-right: 1px solid var(--white-color);
  padding-right: 1px;

  @media screen and (min-width: $tablet) {
    font-size: 64px;
    line-height: calc(75 / 64);
    padding-right: 8px;
  }
}

.weather__location {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.weather__desc {
  font-family: $weather-font;
  font-size: 24px;
  line-height: calc(28 / 24);
  @media screen and (min-width: $tablet) {
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

.weather__city {
  background-color: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
  padding: 9px 8px;
  display: flex;
  gap: 4px;
  
  

  &-name {
    font-family: Roboto;
    font-size: 14px;
    line-height: calc(16 / 14);
  }

  @media screen and (min-width: $tablet) {
    gap: 8px;
    align-items: center;
    display: flex;

    &-name {
      font-size: 20px;
      line-height: calc(23 / 20);
    }
  }
}

.weather__location-svg {
  fill: currentColor;
  
 
  @media screen and (min-width: $tablet) {
    width: 27px;
    height: 27px;
  }
}

.weather__img {
 display: block;
}

.weather__date{

  text-align: center;

  margin-bottom: 18px;

    
}

.weather__day {
  font-family: $weather-font;
  font-size: 27px;
  line-height: calc(33 / 28);
  text-align: center;  
 

  @media screen and (min-width: $tablet) {
 
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

.weather__year {
  font-family: $weather-font;
  font-size: 27px;
  line-height: calc(33 / 28);
  @media screen and (min-width: $tablet) {
    margin-bottom: 16px;
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

.weather__link {
  background-color: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
  font-family: $weather-font;
  font-size: 16px;
  line-height: calc(19 / 16);
  padding: 8px 14px;
  text-align: center;
  height:34px ;
  width: 151px;
 

  @media screen and (min-width: $tablet) {
  
    font-size: 20px;
    line-height: calc(23 / 20);
    padding: 10px 12px;
    height: 42px;
      width: 177px;
  }
  
}
